# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/
*.env

# Node
node_modules/
dist/
.vite/
npm-debug.log*

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local-only POC
poc.txt
.ipynb_checkpoints/
*.ipynb
